name: "Main CI Workflow"

on:
  workflow_dispatch:
    inputs:
      run_flake8:
        description: 'True to print to STDOUT'
        required: false
        default: false
        type: boolean

jobs:
  flake8-check:
    if: ${{ inputs.run_flake8 == 'true' }}
    uses: .github/workflows/flake8.yml
    with:
      run_flake8: true
