name: "Main CI Workflow"

on:
  workflow_dispatch:
    inputs:
      run_flake8:
        description: 'Set to true to run flake8 check'
        type: boolean
        required: false
        default: false
      run_unit_tests:
        description: 'Set to true to run unit tests'
        type: boolean
        required: false
        default: false
      tests_log_lvl:
        description: 'Log level for tests'
        type: string
        required: false
        default: 'INFO'
  push:
    branches:
      - '**'
      - 'master'

jobs:
  flake8-check:
    if: ${{ github.event.inputs.run_flake8 == 'true' }}
    uses: ./.github/workflows/run-flake8.yml
    secrets: inherit
    with:
      run_flake8: true
  unit-tests:
    if: ${{ github.event_name == 'push' && github.event.inputs.run_unit_tests == true || github.event_name == 'workflow_dispatch' && github.event.inputs.run_unit_tests == true }}
    uses: ./.github/workflows/run-unit-tests.yml
    secrets: inherit
    with:
      run_unit_tests: true
      tests_log_lvl: ${{ github.event.inputs.tests_log_lvl }}
