name: "Run Flake8"

on:
  workflow_call:
    inputs:
      run_flake8:
        description: "Trigger flake8 check"
        required: false
        default: true
        type: boolean
  workflow_dispatch:

jobs:
  run-flake8:
    if: ${{ inputs.run_flake8 == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    environment: prod
    env:
      AWS_ACCOUNT_ID: "547507413872"
      AWS_REGION: "eu-west-1"
      DOCKER_REGISTRY: "547507413872.dkr.ecr.eu-west-1.amazonaws.com"
      DOCKER_REGISTRY_PUB: "us-docker.pkg.dev"
      DT_SYSTEM_PACKAGES: "dev-aws-release-system-packages"
    container:
      image: python:3.10-slim
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Check my secrets
        run: echo "${{ secrets.MY_SECRET }}"
      - name: Check my environemnt variable
        run: echo "${{ secrets.MY_VARIABLE }}"
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        run: flake8 .
