name: "Run Flake8"

on:
  workflow_call:
    inputs:
      run_flake8:
        description: "Trigger flake8 check"
        required: true
        type: boolean

env:
  AWS_ACCOUNT_ID: "547507413871"
  AWS_REGION: "eu-west-1"
  DOCKER_REGISTRY: "547507413871.dkr.ecr.eu-west-1.amazonaws.com"
  DOCKER_REGISTRY_PUB: "us-docker.pkg.dev"
  DT_SYSTEM_PACKAGES: "dev-aws-release-system-packages"

jobs:
  init:
    if: ${{ inputs.run_flake8 == 'true' || github.event_name == 'workflow_dispatch' }}
    environment: dev-build
    runs-on: ubuntu-latest  # This runs the job on an Ubuntu machine
    container:
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Look at the code
        run: pwd && ls -la
      - name: Check variables
        run: |
          echo "Account: ${{ secrets.AWS_ACCESS_KEY_ID }}"
      - name: AWS Setup
        uses: ./.github/actions/aws-setup
        with:
          aws_account_id: $AWS_ACCOUNT_ID
          aws_region: $AWS_REGION
          docker_registry: $DOCKER_REGISTRY
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Upload Docker config artifact
        uses: actions/upload-artifact@v3
        with:
          name: docker-config
          path: .docker/config.json

  run-flake8:
    environment: dev-build
    runs-on: ubuntu-latest
    container:
      image: python:3.10-slim
    needs: init
    steps:
      - name: Download Docker config artifact
        uses: actions/download-artifact@v3
        with:
          name: docker-config
      - name: Look at the code
        run: pwd && ls -la
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        run: flake8 .
